// COLORS
$color-primary: #5e68f1;
$color-primary-light: #2998ff;
$color-primary-dark: #5643fa;

$color-secondary: #55c57a;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary: #55c57a;
$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #c7af2b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #eee;

$color-success: #55c57a;
$color-warning: #c7af2b;
$color-error: #c73d2b;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
//$color-grey-dark-3: #333;
$color-grey-dark-3: #272727;

$color-background: #272727;

$color-white: #fff;
$color-black: #000;